.multi-item-carousel .carousel-inner > .item {
  transition: 500ms ease-in-out left;
}
.multi-item-carousel .carousel-inner .active.left {
  left: -33%;
}
.multi-item-carousel .carousel-inner .active.right {
  left: 33%;
}
.multi-item-carousel .carousel-inner .next {
  left: 33%;
}
.multi-item-carousel .carousel-inner .prev {
  left: -33%;
}
@media all and (transform-3d), (-webkit-transform-3d) {
  .multi-item-carousel .carousel-inner > .item {
    transition: 500ms ease-in-out left;
    transition: 500ms ease-in-out all;
    -webkit-backface-visibility: visible;
            backface-visibility: visible;
    transform: none!important;
  }
}
.multi-item-carousel .carouse-control.left,
.multi-item-carousel .carouse-control.right {
  background-image: none;
}
body {
  background: #ffe5bb;
  /* color: rgb(184, 49, 47); */
}
h1 {
  color: white;
  font-size: 2.25em;
  text-align: center;
  text-shadow: 0px 2px 0px #000000;
}

.image_size {
  height: 400px;
  width: 100%;
}

.caption {
  color: rgb(184, 49, 47);
  font-size: 24px;
  font-weight: 700;
}
